
body {
    font-family: raisonnedemibold, sans-serif;
}

/* Buttons */

.small-button {
    background: transparent;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    border: 2px solid;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    transition: 0.5s;

}

.small-button:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    border-color: black;
}

/* Background Image */

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Navbar  */

#navbar {
    padding: 5% 5% 0;
    position: relative;
    z-index: 1;
}

.menu {
    font-size: 0.8rem;
    letter-spacing: 2px;
}

